<div class="container">
  <div class="row">
    <div class="span12">
      <h1>SIGNAL</h1>
    </div>
  </div>

<video autoplay controls width=320 height=240>
<source src="http://localhost:<%=@video_signal.port%>" type="video/ogg">
   You browser doesn't support element <code>video</code>.
</video>
</div>
